@page
@model GenericRepository.Api.Pages.CompanyAddModel
@{
    //ViewData["Title"] = "Title";
    //Layout = null;
}
<div class="content-wrapper" style="min-height: 2171.31px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Companies</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"> Companies </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Company <small></small></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="quickForm" novalidate="novalidate">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputCompanyName1">Company Name</label>
                                    <input type="text" name="companyName" class="form-control" id="exampleInputCompanyName1" placeholder="Enter Company Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputAddress1">Address</label>
                                    <input type="text" name="address" class="form-control" id="exampleInputAddress1" placeholder="Address">
                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" name="AddCompany" id="AddCompany" class="btn btn-primary">Add Company</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


AdminLTE App
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
    Bootstrap 4
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    jquery-validation
<script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- jquery-validation -->
<!--<script src="../../plugins/jquery-validation/additional-methods.min.js"></script>-->
<!-- AdminLTE App -->
<!--<script src="../../dist/js/adminlte.min.js"></script>-->
<!-- AdminLTE for demo purposes -->
<!--<script src="../../dist/js/demo.js"></script>-->
<!-- Page specific script -->
<script>
    $(function () {
        $.validator.setDefaults({
            submitHandler: function () {
                alert("Form successful submitted!");
            }
        });
        $('#quickForm').validate({
            rules: {
                companyName: {
                    required: true,
                    maxlength: 20,
                },
                address: {
                    required: true,
                    minlength: 5,
                },
            },
            messages: {
                CompanyName: {
                    required: "Please enter a company name",
                    maxlength: "Your company name must be no longer than 20 characters"
                },
                Address: {
                    required: "Please enter a  address",
                    maxlength: "Your address must be no longer than 20 characters"
                },
                terms: "Please accept our terms"
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                  error.addClass('invalid-feedback');
                  (element).closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                  $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                  $(element).removeClass('is-invalid');
            },
            

        });
    });

</script>
<script type="text/javascript">
    $("#AddCompany").click(function () {
        debugger;

        var model = {
            companyName: $("[name='companyName']").val(),
            adress: $("[name='address']").val()
        };
        console.log(JSON.stringify(model));
        var company = JSON.stringify(model);
        $.ajax({
            type: 'POST',
            url: 'https://localhost:44363/api/company/create',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            data: company,
            success: function (gelenveri) {
               // $("AddCompany").removeAttr("disabled");
                alert("Kayıt işleminiz başarılı");
            },
            error: function (hata) {
                $("AddCompany").removeAttr("disabled");
            }
        });
    });
</script>
