@page
@model GenericRepository.Api.Pages.DatabaseModel
@{
    ViewData["Title"] = "Title";
    Layout = "~/Pages/Shared/_LayoutSite1.cshtml";
    //"~/Pages/Shared/_LayoutSite1.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Company Name</th>
            <th>Adress</th>
            <th>Is Active</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatable.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.11.3/js/jquery.datatables.min.js"></script>
      <script src="~/js/datatable.js"></script>*@

}


